html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto;
}

/* main container */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* main div wrapper */
.wrapper {
  display: flex;
  flex-flow: row wrap;
}
.wrapper > * {
  padding: 0px;
  flex: 1 100%;
}

/* header  */
header {
  background-color: #4e4e4e;
  width: 100%;
}
.header-menu {
  height: 50px;
  background-color: #4e4e4e;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
}

/* footer */
footer {
  background-color: #4e4e4e;
  width: 100%;
}
.footer-menu {
  background-color: #4e4e4e;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;

  flex-direction: column;
  height: auto;
  padding: 15px 0;
  margin-top: 15px;
}

/* links in header/footer */
.links {
  display: none;
}

footer .links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 20px 0 20px 0;
  padding: 0;
  font-weight: 400;
}
footer .links li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
footer .links li:first-child {
  margin-left: 0;
}
footer .links li:last-child {
  margin-right: 0;
}
footer .links li a {
  color: white;
  text-decoration: none;
}

/* first section */
.descr-section {
  height: 100vh;
  background-image: url("../img/background1920x1080.jpg");
  background-size: cover;
  background-position: center;
}
/* shadow overlay in first section */
.fs-overlay {
  top: 50;
  left: 0;
  width: 100%;
  height: calc(100vh - 50px);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: left;
  border: none;
}

/* container for description in first section */
.site-descr {
  height: 215px;
  width: 100%;
  color: white;
  text-align: left;
  border: none;
}
/* main description */
.descr-main {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-left: 15px;
}
.descr-secondary {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-left: 15px;
}
/* container styled as button in first section */
.button {
  width: 164px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  transition: background-color 1s, color 1s;
  cursor: pointer;
  text-decoration: none;
  margin-left: 15px;
}

/* second section */
.about-section {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  justify-content: center;
}

.descr-about {
  color: #152d41;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

/* container for list of employees */
.employee-list {
  list-style-type: none;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.employee {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  text-align: left;
}

/* container for employee photo */
.photo-container {
  order: 1;
  width: 200px;
  height: 200px;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.employee-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* container for employee description */
.info-container {
  order: 1;
  flex: 0;
  width: 100%;
  margin-right: 50px;
  margin-bottom: 30px;
}
.name {
  color: #152d41;
  font-size: 18;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px;
}
.description {
  color: #152d41;
  font-size: 18;
  font-weight: 400;
}

/* third section */
.offer-section {
  width: 100%;
  height: auto;
  background-color: #405d78;
}

.descr-offer {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

/* grid container for boxes with offers */
.grid-container {
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-template-rows: repeat(n, 200px);
  gap: 40px;
  justify-content: center;
  margin-bottom: 50px;
}

.grid-item {
  color: #152d41;
  font-size: 22px;
  font-weight: 400;
  width: 250px;
  height: 250px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  transition-duration: 500ms;
  position: relative;
}

/* container for new offers */
.service-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-title-new {
  font-size: 18px;
}

/* new item circle in top-left corner */
.grid-item .corner-circle {
  position: absolute;
  background: #ff7a59;
  top: -10px;
  left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* tablet */
@media only screen and (min-width: 600px) {
  .header-menu {
    margin-left: 18vw;
  }
  .site-descr {
    width: 66vw;
  }
  .about-section {
    height: auto;
  }
  .footer-menu {
    font-size: 18px;
  }
  .info-container {
    width: 57vw;
  }
  .grid-container {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 40px;
    margin-left: 40px;
  }
  .grid-item {
    width: 200px;
    height: 200px;
  }
}

/* desktop */
@media only screen and (min-width: 1000px) {
  .header-menu {
    margin-left: 0px;
  }

  .footer-menu {
    font-size: 18px;
    justify-content: space-between;

    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .site-descr {
    width: 50vw;
    margin-right: 100vw;
    text-align: left;
  }

  /* main description */
  .descr-main {
    margin-left: 0;
  }
  .descr-secondary {
    margin-left: 0;
  }
  /* container styled as button in first section */
  .button {
    margin-left: 0;
  }

  .about-section {
    height: auto;
  }

  .descr-about {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
  }

  /* container for list of employees */
  .employee-list {
    display: block;
  }
  .employee {
    flex-direction: row;
    text-align: right;
  }

  /* container for employee photo */
  .photo-container {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .employee-photo {
    margin-right: 20px;
  }

  /* container for employee description */
  .info-container {
    flex: 0;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0px;
  }
  .name {
    margin-left: 40px;
    margin-top: 0px;
  }
  .description {
    width: 600px;
    margin-left: 40px;
  }

  .employee:nth-of-type(even) .photo-container {
    order: 2;
    margin-right: 0;
    margin-left: 60px;
  }
  .employee:nth-of-type(odd) {
    text-align: left;
  }

  .descr-offer {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
  }

  .grid-item {
    width: 200px;
    height: 200px;
  }

  .button:hover {
    background-color: white;
    color: black;
  }

  footer .links {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  .links {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  .links li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }
  .links li:first-child {
    margin-left: 0;
  }
  .links li:last-child {
    margin-right: 0;
  }
  .links li a {
    color: white;
    text-decoration: none;
  }
  .nocursor {
    cursor: not-allowed;
  }

  .grid-container {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 60px;
  }

  .grid-item:hover {
    transform: scale(1.05);
  }
}
